body {
  margin: 0;
  padding: 1px;
  background: linear-gradient(rgb(105, 104, 104), rgb(172, 171, 171));
}

.header {
  background: linear-gradient(to right,grey,whitesmoke);
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 1000;
  border-bottom: solid 4px black;
  border-radius: 10px;
  box-shadow: 0px 3px 12px white;
}

.header h1 {
  font-size: large;
  font-weight: 800;
  width: 20%;
  color: white;
  text-shadow: 0px 0px 11px black;
}

.status-bar {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: small;
}

.status-bar h4 {
  font-size: medium;
}

.new-room-form {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  height: 480px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  top: 2%;
  border: 2px solid black;
}

.new-room-form input {
  width: 85%;
  height: 30px;
  border: 2px solid black;
  border-radius: 4px;
}

textarea {
  width: 85%;
  border: 2px solid black;
  border-radius: 4px;
}

.add-room-btn {
  background-color: black;
  font-size: medium;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  padding: 10px 18px;
  margin: 4px 2px;
}

.rooms-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 65px;
}

.room-div {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 350px;
  border: 2px solid black;
  cursor: pointer;
  margin: 10px 0px;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 2px;
  box-shadow: 0px 0px 20px black;
  overflow: hidden;
}

.room-div img, h3, p {
  margin: 5px;
}

.room-div p {
  font-size: 1.2rem;
  font-weight: bold;
  width: 90%;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.room-div p.note {
  flex-grow: 1;
  overflow-y: auto;
  word-wrap: break-word;
  margin: 2px 0;
  width: 90%;
}

.room-div img {
  width: 60%;
  height: 35%;
  margin-top: 9px;
  box-shadow: 0px 0px 15px black;
}

.room-popup {
  width: 60%;
  height: 75%;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  gap: 8px;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  padding: 20px;
  z-index: 999;
}

.room-popup button {
  color:black;
  width: 45%;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: medium;
  font-weight: bolder;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal input {
  margin: 4px;
  height: 25px;
  width: 92%;
}

.modal button {
  margin-top: 8px;
  color: black;
}

.footer {
  background-color: black;
  color: orange;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items:center;
}

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color: whitesmoke;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px white;
}

.new-room-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: x-large;
  background-color: grey;
  width: 35px;
  height: 35px;
  box-shadow: 0px 0px 10px black;
  border-radius: 6px;
  box-shadow: 0px 0px 5px white;
}

@media all and (min-width: 480px){

  body {
    background-color: red;
  }

  .room-list {
    flex-direction: row;
  }









}