body {
  margin: 0;
}

.header {
  background-color: orange;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 1000;
  border-bottom: solid 2px black;
  border-radius: 10px;
}

.header h1 {
  font-size: large;
  font-weight: 800;
  width: 20%;
}

.status-bar {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: small;
}

.new-room-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: x-large;
  background-color: rgb(65, 65, 65);
  width: 10%;
  height: 30%;
}

.rooms-list {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.room-div {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 350px;
  border: 2px solid black;
  cursor: pointer;
  margin: 4px 0px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 2px;
}

.room-div img {
  width: 60%;
  height: 35%;
}

.footer {
  background-color:black;
  color: orange;
  display: flex;
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: center;
}